<body>
Aus solchen Fußnoten<a id="ref-fn1" href="#fn1">[1]</a> kann was werden.

 Am Ende sammeln sich die
  <ol id="footnotes">
    <li><a id="fn1">t.b.d.</a> <a href="#ref-fn1">back</a></li>
  </ol>
 in einer Liste.
</body>
